﻿@model CategoriesViewModel
@using HelmesSelector.Extensions
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div id="errors"></div>
    <div class="col-md-12">
        <form id="selections-group" class="form-horizontal">
            <div class="col-md-offset-2 col-md-10">
                Please enter your name and pick the Sectors you are currently involved in.
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="form-name-inp">Name:</label>
                <div class="col-sm-10">
                    <input id="form-name-inp" class="form-control" name="Name" value="@Model.User.Name" required type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="form-sectors-inp">Sectors:</label>
                <div class="col-sm-10">
                    <select name="Sectors" style="height: 500px;" id="form-sectors-inp" class="form-control" multiple size="5">
                        @HtmlOptionHelper.GetHtmlOptionElementsList(Model.CategoryModel, Model.UserSectorsModel);
                    </select>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    <input id="AgreementToTerms" for="AgreementToTerms" type="checkbox"> Agree to terms
                </div>
            </div>
            <input class="form-control btn btn-primary" id="sbm-inp" name="UserId" type="hidden" value="@Model.User.Id">
            <div class="col-md-offset-2 col-md-3">
                <div class="form-group">
                    <button minlength="1" id="sbm-inp-btn" class="btn btn-success" style="font-size: 24px">
                        Save <i id="sbm-btn-spinner" class="icon-spinner icon-spin icon-larg hidden"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>