﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelmesSelector</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
<script>

    $(document).ready(function() {

        var domain = window.location.href;
        var sbmInp = $("#sbm-inp-btn");
        var sbmBtnSpinner = $("#sbm-btn-spinner");

        var agreement = $("#AgreementToTerms");

        sbmInp.attr("disabled", false);
        var errorsContainer = $("#errors");

        function displayErrors(msg) {
            errorsContainer.html("");
            errorsContainer.append("<p class='alert alert-warning'>" + msg + "</p>");
            errorsContainer.show();
        }

        agreement.change(function() {
            
            if (agreement.is(":checked")) {
                sbmInp.attr("disabled", false);
                return;
            }
            sbmInp.attr("disabled", false);
        }); 

        sbmInp.on("click", function(ev) {
            ev.preventDefault();

            var nameInp = $("#form-name-inp").val();
            var sectors = $("#form-sectors-inp").val();

            var data = JSON.stringify({
                name: nameInp,
                sectors: sectors,
                agreement: agreement.val() == "on" ? true : false,
            });


            if (!agreement.is(":checked")) {
                displayErrors("Error: Agreement checkbox is not selected");
                return;
            }

            if (nameInp == null || nameInp == "") {
                displayErrors("Error: Name field is empty");
                return;
            }

            if (sectors.length < 1) {
                displayErrors("Error: sector field is mandatory");
                return;
            }

            errorsContainer.hide();
            sbmBtnSpinner.removeClass("hidden");
                $.ajax({
                    contentType: 'application/json',
                    type: "POST",
                    async: true,
                    url: domain + "api/ApiForm",
                    dataType: "json",
                    data: data,
                success: function (data) {
                    sbmBtnSpinner.addClass("hidden");
                    console.log(data);
                    if (data.hasErrors) {
                        displayErrors(data.content);
                    }
                },
                failed: function (data) {
                    sbmBtnSpinner.addClass("hidden");
                    if (data.hasErrors) {
                        displayErrors(data.content);
                    }
                }
            });

        });

    });

</script>
</body>
</html>
